{{ define "main" }}
<script>
    function copyLinkAndChangeText(linkElement) {
        // Obter o baseURL do config.toml
        var baseURL = "{{ .Site.BaseURL | absURL }}";

        // Remover a barra no final do baseURL, se existir
        baseURL = baseURL.replace(/\/$/, "");

        // Obter o link específico do botão
        var buttonLink = linkElement.getAttribute("data-link");

        // Construir a URL completa
        var completeLink = baseURL + buttonLink;

        // Copiar a URL para a área de transferência
        navigator.clipboard.writeText(completeLink);

        // Mudar o texto do link para "Link copiado" por alguns instantes
        linkElement.innerHTML = "Link copiado";
        setTimeout(function () {
            linkElement.innerHTML = linkElement.getAttribute("data-original-text");
        }, 2000); // Mude o valor de 2000 para ajustar a duração que o texto "Link copiado" será exibido
    }
</script>

<div class="main-post-list hidden">
    <ol class="post-list">
        {{ range .Paginator.Pages }}
        <li>
            <h2 class="post-list__post-title post-title">
                <span onmouseover="this.style.color='white'" onmouseout="this.style.color=''">
                    <a href="javascript:void(0);" 
                       data-link="{{ .RelPermalink }}"
                       data-original-text="{{ .Title }}"
                       onclick="copyLinkAndChangeText(this)">
                       {{ .Title }}
                    </a>
                </span>
            </h2>
            <hr class="post-list__divider" />
        </li>
        {{ end }}
    </ol>
    {{ partial "pagination.html" . }}
</div>
{{ end }}
