<html>
<head>
        <!-- favicon -->
        {{ partial "favicon.html" . }}
    
      <!-- HTML Meta Tags -->
      <title>Andrea Ramos Convites</title>
      <meta name="description" content="Transformando momentos especiais em obras de arte: convites artesanais personalizados com o toque único.">
    
      <!-- Facebook Meta Tags -->
      <meta property="og:url" content="https://andrearamosconvites.com.br/">
      <meta property="og:type" content="website">
      <meta property="og:title" content="Andrea Ramos Convites">
      <meta property="og:description" content="Transformando momentos especiais em obras de arte: convites artesanais personalizados com o toque único.">
      <meta property="og:image" content="https://andrearamosconvites.netlify.app/images/opengraph.jpg">
    
      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="andrearamosconvites.com.br">
      <meta property="twitter:url" content="https://andrearamosconvites.com.br/">
      <meta name="twitter:title" content="Andrea Ramos Convites">
      <meta name="twitter:description" content="Transformando momentos especiais em obras de arte: convites artesanais personalizados com o toque único.">
      <meta name="twitter:image" content="https://andrearamosconvites.netlify.app/images/opengraph.jpg">
<meta http-equiv="refresh" content="0; url={{ .Params.redirect_url }}">
</head>
<body></body>
</html>